body{
    background-image: url(img/img_background.jpg);
    background-size: cover;
}

button{
    background-color: green;
    font-size: 20px;
    color: white;
    
}

#SignUp {
  margin-left: 1000px;
}

#LienPageConnexionPlus{
    color: white;
}

#LienSInscrire{
    color: white;
}

#CommentPageInscription{
    margin-top: 300px;
    color: white;
    font-size: 30px;
}

#Info1{

    border: blue 5px double;
}

#Info2{

    border: green 5px dotted;
}

#Info3{

    border:red 5px ridge;
}

#Info4{

    border: white 5px double;
}