body{
    background-image: url(img/img_background.jpg);
    background-size: cover;
}

button{
    background-color: green;
    font-size: 20px;
    color: white;
    
}

#SignUp {
    margin-left: 1000px;
}

#LienPageConnexionPlus{
    color: white;
}

#LienSInscrire{
    color: white;
}

#CommentPageInscription{
    margin-top: 300px;
    color: white;
    font-size: 30px;
}